Source: default-settings-kdeapps
Section: admin
Priority: optional
Maintainer: Leszek Lesner <leszek@zevenos.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.7.2

Package: default-settings-kdeapps
Architecture: all
Replaces: netrunner-default-settings (<< 1.6.1)
Breaks: netrunner-default-settings (<< 1.6.1)
Description: Settings for KDE Apps
  This package provides the default configuration of KDE Apps for Maui/Netrunner.
